<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.BookMapper">

	<insert id="create">
		insert into tbl_book(in_out, sum, classify,
		spend_type, other)
		values(#{in_out}, #{sum}, #{classify},
		#{spend_type}, #{other})
	</insert>

	<select id="read" resultType="com.inhatc.domain.BookVO">
		select * from tbl_book
	</select>

	<update id="update">
		update tbl_book set sum=#{sum}, classify=#{classify}, other=#{other}
		where no=#{no}
	</update>

	<delete id="delete">
		delete from tbl_book where no=#{no}
	</delete>

	<select id="listAll" resultType="com.inhatc.domain.BookVO">
		<![CDATA[
		select * from tbl_book
		where no>0
		]]>
		
		<if test="!(#{first_date} eq '----------'.toString()) and #{last_date} eq '----------'.toString()">
			and enterdate <![CDATA[ >= ]]> #{first_date}
		</if>
		
		<if test="#{first_date} eq '----------').toString() and !(#{last_date} eq '----------'.toString())">
			and enterdate <![CDATA[ <= ]]> #{last_date}
		</if>

		<if test="!(#{first_date} eq '----------'.toString()) and !(#{last_date} eq '----------'.toString())">
			and between #{first_date} and #{last_date}
		</if>

		<if test="!(#{in_out} eq '----'.toString())">
			and in_out = #{in_out}
		</if>

		<if test="!(#{classify} eq '-----------'.toString())">
			and classify = #{classify}
		</if>

		<if test="!(#{spend_type} eq '----'.toString())">
			and spend_type = #{spend_type}
		</if>

		<![CDATA[
		order by no desc, enterdate desc
		]]>
	</select>

	<select id="typelist" resultType="com.inhatc.domain.BookVO">
		select * from tbl_type where
		in_out in ('----','수입','지출')
		order by field(in_out,'----','수입','지출')
	</select>

	<select id="classifylist" resultType="com.inhatc.domain.BookVO">
		select * from tbl_classify
	</select>

	<select id="stypelist" resultType="com.inhatc.domain.BookVO">
		select * from tbl_stype
	</select>
</mapper>