<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.BookMapper">

	<insert id="create">
		insert into tbl_book(in_out, sum, classify, spend_type, other)
		values(#{in_out}, #{sum}, #{classify}, #{spend_type}, #{other})
	</insert>

	<select id="read" resultType="com.inhatc.domain.BookVO">
		select * from tbl_book
	</select>

	<update id="update">
		update tbl_book set in_out=#{in_out}, sum=#{sum}, classify=#{classify}, spend_type=#{spend_type}, other=#{other}
		where no=#{no}
	</update>

	<delete id="delete">
		delete from tbl_book where no=#{no}
	</delete>

	<select id="listAll" resultType="com.inhatc.domain.BookVO">
		select * from tbl_book
		where enterdate between #{first_date} and #{last_date}
		and in_out = #{in_out} and classify = #{classify} and spend_type = #{spend_type}
		order by no desc, enterdate desc
	</select>
	
	<select id="typelist" resultType="com.inhatc.domain.BookVO">
		select * from tbl_type
	</select>
	
	<select id="classifylist" resultType="com.inhatc.domain.BookVO">
		select * from tbl_classify
	</select>
	
	<select id="stypelist" resultType="com.inhatc.domain.BookVO">
		select * from tbl_stype
	</select>
</mapper>